---
layout: default
title: Download
group: navigation
disqus: yes
---

<h1 id="download" class="page-header">{{ page.title }}</h1>

<h2>Source Download</h2>

<div class="table-responsive">
  <table class="table table-condensed" id="status">
    <thead>
      <tr>
	<td><em>Package</em></td>
	<td>Last Release</td>
	<td>Git URL</td>
      </tr>
    </thead>
    <tbody>
      {% for package in site.data.packages %}
      {% if package.status == 'stable' %}
      <tr id="{{ package.github }}">
	<td id="{{ package.github }}-dl-link">{{ package.name }}</td>
	<td id="{{ package.github }}-version">
	  {% for version in package.releases %}
	  <a href="https://github.com/roboptim/roboptim-core/releases/tag/v{{ version }}">{{ version }}</a>
	  {% endfor %}
	  {% unless package.releases.size %}
	  n/a
	  {% endunless %}
	</td>
	<td id="{{ package.github }}-git-url">https://github.com/roboptim/{{ package.github }}.git</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="bs-callout bs-callout-info">
  <h4>If you clone our Git repositories...</h4>
  <p>RobOptim repositories use submodules, if you clone them, do not
    forget to pass the <code>--recursive</code> option: <code>$ git
      clone --recursive https://github.com/...</code></p>
</div>


<h2>Supported Linux Distribution</h2>

<p>If you do not need recent features, we recommend you use the
  packages provided by your Linux distribution. RobOptim is available
  on the following Linux Distributions:
  <ul>
    <li>Arch Linux</li>
    <li>Fedora Core</li>
    <li>Debian</li>
    <li>Ubuntu</li>
  </ul>
</p>

<p>RobOptim is also available as a RobotPkg package.</p>

<div style="padding: 10em"></div>
