---
layout: default
title: Numerical Optimization for Robotics
sitemap:
  lastmod: 2014-03-11
  priority: 0.9
  changefreq: monthly
---
<div class="container">
  <div class="jumbotron">
    <h1>Numerical Optimization for Robotics</h1>

    <p>RobOptim is a Modern, Open-Source, C++ Library for Numerical Optimization applied to Robotics.</p>

    <p>
      <a class="btn btn-lg btn-primary" href="getting-started.html" role="button">Get started now &raquo;</a>
    </p>
  </div>
</div>

<div style="padding: 2em"></div>

<!-- place somewhere in the <body> of your page -->
<section class="slider">
<div class="flexslider">
  <ul class="slides">
    {% for project in site.data.projects %}
      {% if project.image %}
        {% if project.thumbnail %}
          <li data-thumb="assets/showcase/{{ project.thumbnail }}">
        {% else %}
          <li data-thumb="assets/showcase/{{ project.image }}">
        {% endif %}
        <a href="{{ project.url }}" target="_blank">
        <img src="assets/showcase/{{ project.image }}"
             alt="{{ project.title }}"
             title="{{ project.title }}"/>
        </a>
        {% if project.description %}
          <p class="flex-caption">{{ project.description }}</p>
        {% endif %}
        </li>
      {% else if project.video %}
        <li class="slide play3">
          <iframe width="560" height="200" id="youtubevideo"
            title="{{ project.title }}"
            src="http://www.youtube.com/embed/{{ project.video.youtube_id}}?enablejsapi=1&version=3&playerapiid=youtubevideo&vq=hd720"
            allowfullscreen frameborder="0"></iframe>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
</section>

<!-- Load FlexSlider Library -->
<script src="js/flexslider/jquery.flexslider-min.js"></script>

<!-- Load FlexSlider style -->
<link href="js/flexslider/flexslider.css" rel="stylesheet">

<!-- Load custom slider style -->
<link rel="stylesheet" href="slider.css" type="text/css">
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>

<!-- Load YouTube player -->
<script src="js/flexslider-youtube.js"></script>
<script src="js/jquery.fitvids.js"></script>

<script type="text/javascript">
  // Initialize FlexSlider
  $(window).load(function() {
    $('.flexslider')
    .fitVids()
    .flexslider({
      animation: "slide",
      //controlNav: "thumbnails",
      directionNav: true,
      // TODO: need to stop slideshow while playing videos to handle this
      slideshow:false,
      slideshowSpeed: 7500,
      animationLoop: true,
      animationSpeed: 600,
      pauseOnAction: true,
      pauseOnHover: true,
      touch: true,
      smoothHeight: true,
      video: true,
      before: function(slider){
        if (slider.slides.eq(slider.currentSlide).find('iframe').length !== 0)
          $f( slider.slides.eq(slider.currentSlide).find('iframe').attr('id') ).api('pause');
      }
    });
  });
</script>

<div style="padding: 2em"></div>



   <div class="container marketing">
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Fast Development, <span class="text-muted">Fast Resolution.</span></h2>
          <p class="lead">Define your optimization problem and call
          solve. RobOptim handles the rest. RobOptim interfaces with
          various state-of-the-art solvers to support advanced solving
          techniques and lets you express your problem in C++ to ensure
          optimal performances.</p>
        </div>
        <div class="col-md-5">
          &nbsp;
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
	  &nbsp;
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Batteries, <span class="text-muted">Included.</span></h2>
	   <p class="lead">RobOptim toolbox packages provide functions
	   aiming to solve specific problems. Therefore, you spend less
	   time reinventing the wheel and you can focus on solving your
	   particular problem at hand!</p>
	 </div>
       </div>

       <hr class="featurette-divider">

       <div class="row featurette">
	 <div class="col-md-7">
	   <h2 class="featurette-heading">Free, <span class="text-muted">Forever.</span></h2>
	   <p class="lead">RobOptim is licensed under the permissive
	   LGPL-3 license allowing its use in commercial projects.</p>
        </div>
        <div class="col-md-5">
	  <img src="assets/osi.png" alt="LGPL is an OSI Approved License" />
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
   </div>
